<footer>

	<div class='mobile hire-status'><div class='dot'></div><h4>Available for hire</h4></div>

	{% if site.social_media_links %}
		{%	for i in site.social_media_links %}
				<a class='{{ i.class }}' href='{{ i.href }}' target='_blank'>{{ i.svg }}</a>
		{% endfor %}
	{% endif %}

	{% if site.byline %}
		{% for i in site.byline %}
		<h4>{{ i }}</h4>
		{% endfor %}
	{% endif %}

	<div class='copyright'>
		<h4>&copy; <script type="text/javascript">var d = new Date(); document.write(d.getFullYear())</script></h4>
		<!-- <h4 class='mobile'>Copyright <script type="text/javascript">var d = new Date(); document.write(d.getFullYear())</script></h4>
		<h4 class='mobile'>I'm not sure why you would, but if you steal anything I will shame you in front of my small handful of followers on social media.</h4> -->
	</div>
</footer>