<header class="header-flex-wrap">
  <div class='id'>
    <a href="/">{{ site.id.avatar }}</a>
    <h4 class='desktop'><b>{{ site.id.title }}</b></h4>
    <h4 class='desktop subtitle'>{{ site.id.subtitle }}</h4>
  </div>

  <div class="header-dropdown">
    <span class="header-dropdown-backdrop"></span>
    <span class="header-dropdown-val">Viewing all examples <svg xmlns="http://www.w3.org/2000/svg" width="12" height="8">
      <path fill="none" fill-rule="evenodd" stroke="#4D4545" stroke-width="1.5" d="M11.13256879.75868655L6.0460822 6.59228518.95959486.75868634"/>
    </svg></span>
    <ul>
      <li>branding</li>
      <li>web sites & applications</li>
      <li>print</li>
    </ul>
  </div>
  <div class="header-nav-wrap">
    <ul>
      <li><a class="home-link" href="/">Work</a></li>
      <li><a class="about-link" href="/about">About</a></li>
      <li><a class="contact-link" href="/contact">Contact</a></li>
    </ul>
  </div>
</header>
