$font-stack: 'GT-America-Standard-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: rgb(0, 91, 242);
$link-color-white: white;
$link-hover-color: rgb(90, 31, 235);
$real-post-nav-color: rgb(77, 69, 69);
$post-nav-color: rgb(56, 52, 52);
$text-highlight-color: rgb(247, 226, 127);
@font-face {
    font-family: 'GT-America-Standard-Regular';
    src: url(../fonts/GT-America/GT-America-Standard-Regular.eot?) format('eot'),
    	url(../fonts/GT-America/GT-America-Standard-Regular.woff) format('woff'),
    	url(../fonts/GT-America/GT-America-Standard-Regular.ttf) format('truetype');
    font-weight: normal;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin inline-flex() {
  display: -webkit-inline-box;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
// defaults: flex-grow: 0; flex-shrink: 1; flex-basis: auto;
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
// defaults: flex-direction: row; flex-wrap: nowrap;
@mixin flex-flow($values) {
	-webkit-flex-flow: $values;
	flex-flow: $values;
}
@mixin align-items($values) {
	-webkit-align-items: $values;
	align-items: $values;
}
@mixin align-content($values) {
	-webkit-align-content: $values;
	align-content: $values;
}
@mixin align-self($values) {
	-webkit-align-self: $values;
	align-self: $values;
}
@mixin justify-content($values) {
	-webkit-justify-content: $values;
	justify-content: $values;
}
body {
	background-color: white;
	color: $post-nav-color;
	font-family: $font-stack;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	*::selection {
		background: $text-highlight-color;
	}
	*::-moz-selection {
		background: $text-highlight-color;
	}
}
main {
	height: 100%;
}
a {
	color: $link-color;
	&:visited {color: $link-color;}
	&:hover {color: $link-hover-color;}
}
a.go-home {
	display: block;
	margin: 80px 0;
}
article {
	margin-top: 56px;
}
.bold {font-weight:bold;}
.error-404-wrap {
	height: 100%;
	img {
		max-width: 100%;
	}
}
.error-404-wrap,
.home-wrap {
	padding-bottom: 20px;
}
footer {
	h4 {
		color: $post-nav-color;
		font-weight: normal;
	}
}
article figcaption,
footer {
	a {
		color: black;
		font-weight: bold;		
		&:visited {color: black;}
		&:hover {color: rgb(162, 157, 157);}
	}
}
h4 {
	color: white;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.005em;
}
h5 {
	color: $post-nav-color;
	font-size: 9px;
	line-height: 14px;
}
header {
	@include flexbox();
	@include justify-content(space-between);
	padding: 76px 0 40px 0;
	white-space: nowrap;
	h4, p {
		color: $post-nav-color;
		margin: 0;
		max-width: none;
	}
	p {padding: 0;}
	.subtitle {
		font-weight: normal;
	}
	.id {
		text-align: left;
	}
	.id {
		padding-top: 5px;
		h4 {padding-left: 48px;}
		svg {
			float: left;
			margin-top: 6px;
		}
	}
}
.quote-wrap {
	color: rgb(60, 53, 53);
	padding: 0 0 0 35px;
	white-space: normal;
	span {
		font-weight: bold;
		white-space: nowrap;
		.quotation-mark {
			vertical-align: top;
		}
		.quote__quote {
			color: $post-nav-color;
			text-decoration: none;
			white-space: normal;
		}
	}
	&:hover {
		.quote__quote {
			border-bottom: 1.5px solid $post-nav-color;
		}
		.quote__source.chosen {
			cursor: default;
			opacity: 1;
		}
	}
}
.quote__source {
	font-weight: normal;
	margin-top: 6px;
	opacity: 0;
}

p {
	max-width: 28rem;
	margin: 0 auto;
	padding: .9em 0;
}
.about p,
article p,
.hire-status p,
.error-404-wrap p {
	margin: 0 auto;
	padding: 5rem 0 0;
}
.about p:last-child,
article p:last-child {
	padding-bottom: 5rem;
}
.slick p:first-child {padding-bottom:.7rem;}
.emoji {
	width: 1.2rem;
}
figure {
	margin: 0;
}
.grid {
	min-height: 23.5vw;
	position: relative;
}
.grid__item {
	h4 {
		font-weight: normal;
		margin: 11px 15px;
		position: absolute;
		text-align: left;
		text-decoration: none;
		z-index: 99999;
	}
}
.hire-status {
	a {
		color: $post-nav-color;
		text-decoration: none;
		font-weight: normal;
		&:visited {color: $post-nav-color;}
		&:hover {
			color: $post-nav-color;
			text-decoration: underline;
		}
	}
	.dot, h4 {
		display: inline-block;
	}
	.dot {
		background-color: rgb(126, 211, 33);
		border-radius: 10px;
		margin: 8px 8px 8px -8px;
		height: 8px;
		width: 8px;
		vertical-align: middle;
	}
}
.icon {
	margin: 0 4px;
	svg {
		vertical-align: middle;
	}
}
.icon.mail {
	&:hover path {
		fill: #a29d9d;
	}
}
.icon.dribbble {
  	&:hover path {
  		fill: #EA4C89;
  	}
}
.icon.twitter {
  	&:hover path {
  		fill: #1DA1F2;
  	}
}
.icon.instagram {
  	&:hover path {
  		fill: #EF4859;
  	}
}
.loading {
	background-color: black;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000000;
	img {
		position: absolute;
		top: 40%;
		left: calc(50% - 60px);
		z-index: 1000001;
	}
}
.post-nav {
	background-color: $real-post-nav-color;
	@include flexbox();
	height: 50px;
	padding: 3px 0;
	position: fixed;
	top: 0;
	white-space: nowrap;
	width: 100%;
	z-index: 1500;
	* { display: inline-block;}
	a {
		height: 50px;
		line-height: 50px;
		text-decoration: none;
	}
	h4 {
		font-size: 13px;
		margin: 0;
	}
	.page-title {
		line-height: 50px;
		@include flex(1);
	}
	.prev, .next {
		border-left: 1px solid rgb(103, 96, 96);
		min-width: 50px;
		width: 50px;
		svg {
			height: 9.8px;
			width: 9.8px;
		}
	}
	.page-title {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.post-nav__home {
		box-sizing: border-box;
		padding: 0 21px;
		h4 {
				margin-left: 6.7px;
				visibility: hidden;
			}
		&:hover h4 {
			visibility: visible;
		}
		svg {
			height: 20.4px;
			position: relative;
			top: 3px;
			width: 19px;
		}
	}
}

@media all and (max-width: 479.9px) {
	.home-wrap,
	.error-404-wrap {
		padding: 0 10px 20px;
	}
	.desktop { display: none !important }
	.about p {
		padding-top: 2.5rem;
		&:last-child {
			padding-bottom: 2.5rem;
		}
	}
	article {
		background-color: black;
	}
	article p {
		font-size: 16px;
		line-height: 22px;
		margin: 0 auto;
		padding: .7rem 0;
	}
	.copyright	{
		margin-bottom: 3.5rem;
		.mobile {
			opacity: .25;
		}
	}
	figcaption {
		font-size: 13px;
		line-height: 18px;
		&:not(.bg) {opacity: .5;}

	}
	header svg {
		height: 34px;
		width: 34px;
	}
	html {
		height: 100%;
	}
	.id {
		margin: 0 auto;
	}
	.grid {
		margin-bottom: 81px;
	}
	.grid__item {
		margin-bottom: 10px;
		overflow: hidden;
		width: 100%;
		img {
			display: block;
			width: 100%;
		}
	}
	.post-nav {
		.page-title {
			margin: 0 9px;
			text-align: left;
		}
		.post-nav__home {
			width: 50px;
		}
	}
	.slick-dots {
		bottom: 15px;
		margin: 0 auto;
		//padding: 25px 0;
		opacity: .5;
		padding: 12.5px 0;
		position: absolute;
		text-align: center;
		line-height: 5px;
		list-style: none;
		width: 100%;
		li {
			cursor: pointer;
			display: inline-block;
			margin-left: 10px;
        	button {
        		background: transparent;
        		border: 2px solid white;
        		border-radius: 20px;
        		height: 7px;
        		outline: none;
        		overflow: hidden;
        		padding: 0;
            	color: transparent;
            	width: 7px;
        		&:hover, &:focus {
                	outline: none;
            	}
        	}
        	&:first-of-type {
        		margin-left: 0;
        	}
		}
		.slick-active button {
			background-color: white;
		}
	}
	.slide {
		&:focus{outline:none;}
		background-color: black;
		color: white;
		font-size: 20px;
		line-height: 26px;
		height: 100%;
		width: 100%;
		a,
		figcaption a,
		figcaption a:visited {
			color: $link-color-white;
		}
		.slide__content {
			@include flexbox();
			@include align-items(center);
			@include flex-flow(column);
			@include justify-content(center);
			box-sizing: border-box;
			overflow: hidden;
			//padding: 35px 22px 70px;
			padding: 17.5px 11px 35px;
			position: relative;
			height: 100%;
			width: 100%;
			img {
				margin-bottom: 13px;
				max-width: 100%;
			}
			.full-height {
				height: calc(100vh - 54px);
				max-width: none;
				position: absolute;
				top:0px;
			}
			.bg {
				//background: -webkit-linear-gradient(transparent, rgba(2, 0, 0, .03) 10%, rgba(2, 0, 0, .5));
				//background: linear-gradient(transparent, rgba(2, 0, 0, .03) 10%,  rgba(2, 0, 0, .5));
				background: -webkit-linear-gradient(transparent, rgba(1, 0, 0, 0.09) 10%, rgba(2, 0, 0, 0.7));
				background: linear-gradient(transparent, rgba(1, 0, 0, 0.09) 10%, rgba(2, 0, 0, 0.7));
				box-sizing: border-box;
				position: absolute;
				bottom: 0;
				left: 0;
				//padding: 190px 11px 95px;
				padding: 55px 11px;
				width: 100%;
			}
			.bg-dark {
				box-sizing: border-box;
				color: $post-nav-color;
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 1;
				//padding: 190px 11px 95px;
				padding: 55px 11px;
				width: 100%;
				a, a:visited {
					color: $post-nav-color;
				}
			}
			&:focus {
				outline: none;
			}
		}
	}
	.tooltip, .quote-wrap {
		display: none;
	}
}
@media all and (min-width: 480px) {
	html {
		height: 100%;
		overflow: auto;
	}
	body {
		overflow: hidden;
		height: 100%;
	}
	.mobile {display: none;}
	.about span {
		color: $link-color;
		cursor: pointer;
		text-decoration: underline;
		&:hover {color: $link-hover-color;}
	}
	figcaption {
		font-size: 14px;
		line-height: 22px;
	}
	.grid {
	  //margin: 4rem auto 9rem 3.28vw;
	  min-height: 23.5vw;
	  //width: 85.5vw;
	  margin: 0 auto;
	  width: 95.76vw;
	  &::after {
	  	content: " ";
   		display: block; 
   		height: 0; 
   		clear: both;
	  }
	}
	.grid__item__wrap {
	  box-sizing: border-box;
	  float: left;
	  padding: 3px;
	}
	.grid__item {
		position: relative;
		perspective: 800px;
		-webkit-perspective: 800px;
		-moz-perspective: 800px;
		perspective-origin: 0% 150%;
		-webkit-perspective-origin: 0% 150%;
		-moz-perspective-origin: 0% 150%;
		height: 100%;
		width: 100%;
		a {
			position: relative;
			@include flexbox();
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			transform-origin: 50% 100%;
			-webkit-transform-origin: 50% 100%;
			-moz-transform-origin: 50% 100%;
			transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transition: box-shadow 600ms;
			-webkit-transition: box-shadow 600ms;
			perspective: 800px;
			perspective-origin: 0% 150%;
			div {
				transition: transform 400ms;
				-webkit-transition: transform 400ms;
				overflow: hidden;
				height: 100%;
				width: 100%;
				&:hover {
					transform: translateZ(8px);
					-webkit-transform: translateZ(8px);
					-ms-transform: translateZ(8px);
					img {
						transform: scale(1.03);
						-webkit-transform: scale(1.03);
						-ms-transform: scale(1.03);
					}
				}
			}
		}
		h4 {
		  	left: 0;
			top: 0;
		}
		img {
	  		position: relative;
			display: block;
			flex: none;
	  		min-height: 100%;
			min-width: 101%;
			transition: all 250ms;
			-webkit-transition: all 250ms;
		}
		&:hover a {
			box-shadow: 8px -5px 25px 0px rgba(77, 69, 69, .05);
		}
	}
	header {
		//padding: 76px 35px 0;
		margin: 0 auto;
		width: calc(94vw - 6px);
		svg {
			height: 34px;
			width: 34px;
		}
	}
	.quote {
		display: none;
	}
	.tooltip {
		box-shadow: 0px 0px 25px 0px rgba(77, 69, 69, .25);
		box-sizing: border-box;
		max-width: 600px;
		position: absolute;
		left: -9999px;
		z-index: 9999999;
		h4 {
			font-weight: normal;
		}
		img {
			margin-bottom: -9px;
			max-width: 600px;
		}
	}
	.tooltip-img,
	.tooltip-img-box--bottom,
	.tooltip-img-box--right {
		a {
			border-bottom: 1px solid white;
			color: white;
			text-decoration: none;
			&:visited {color: white;}
			&:hover {
				color: white;
			}
		}
	}
	.tooltip-img {
		figcaption {
			bottom: 1rem;
			color: white;
			position: absolute;
			width: 100%;
		}
	}
	.tooltip-img-box--bottom {
		color: white;
		text-align: left;
		figcaption {
			padding: .8rem;
		}
	}
	.tooltip-img-box--right {
		color: white;
		text-align: left;
		white-space: nowrap;
		img, figcaption {display:inline-block;}
		figcaption {
			box-sizing: border-box;
			max-width: 280px;
			padding: 1.6rem;
			height: 100%;
			white-space: normal;
			vertical-align: top;
		}
		img {
			@include align-self(center);
			max-width: 320px;
		}
	}
	.tooltip-text {
		background-color: rgb(242, 252, 234);
		padding: 1rem 1.5rem 1rem 1rem;
		text-align: left;
		* {
			color: $post-nav-color;
			margin: 0;
		}
		ul {
			list-style: none;
			padding:0;
		}
	}

	//*** POST PAGE ***//
	article {
		img {
			margin: 0 auto -4px auto;
			width: 100%;
		}
		.column > div,
		.row > div:not(.column) {
			padding: 3px;
		}
		.column img,
		.row img {
			border: none;
		}
		.column img {
			margin-bottom: -3px;
		}
		.column {
			height: 100%;
			@include flexbox();
			@include flex(column);
			div {
				height: 0;
				//overflow: hidden;
			}
		}
		.full-width {
			border-bottom: none;
			border-top: none;
			width: 100%;
		}
		.row {
			margin: 0 auto;
			white-space: nowrap;
			width: 100%;
			img {
				width: auto;
			}
		}
		.row > div {
			display: inline-block;
			&:first-child {padding-left:0}
			&:last-child {padding-right:0}
		}
	}
}
@media all and (min-width: 480px) and (max-width: 699px) {
	.grid {
		width: 94vw;
		img {
			margin: 0 !important;
			height: auto !important;
			&:not(.stretchfix) {
				width: 100% !important;
			}
			&.stretchfix {
				width: 140% !important;
			}
		}
	}
	.grid__item__wrap {position:relative;}
}
@media all and (min-width: 700px) {
	article {
		img, .row {
			width: calc(100% - 230px);
		}
	}
}