---
name: default
---

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}">
<!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description"
    content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords"
    content="design, graphic design, branding, brand identity, web design, website design, app design, chicago design, chicago designer, chicago web designer, chicago graphic designer " />
  <meta name="robots" content="follow, all" />
  <meta name="language" content="en" />
  <meta name="googlebot" content="index, follow" />
  <meta name="revisit-after" content="20 days" />

  <meta property="og:title" content="Gage Salzano – Portfolio" />
  <meta property="og:description"
    content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  <meta property="og:url" content="https://www.gagesalzano.com" />
  <meta property="og:image" content="https://www.gagesalzano.com/assets/images/meta.png" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@gagesalzano" />
  <meta name="twitter:title" content="Gage Salzano – Portfolio" />
  <meta name="twitter:description"
    content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  <meta name=twitter:image content="https://www.gagesalzano.com/assets/images/meta.png" />
  <meta name=twitter:url content="https://www.gagesalzano.com" />
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#231f20">
  <meta name="msapplication-TileColor" content="#231f20">
  <meta name="theme-color" content="#ffffff">
  <!-- style -->
  <link rel="stylesheet" type="text/css" href='{{ '/assets/css/normalize.css' | prepend: site.url }}' />
  <link rel="stylesheet" type="text/css" href='{{ '/assets/css/style.css' | prepend: site.url }}' />
  <link rel="stylesheet" type="text/css" href='{{ '/assets/slick/slick.css' | prepend: site.url }}' />
</head>


<body>
  <main>{{ content }}</main>

  <script type="text/javascript" src='{{ '/assets/scripts/jquery-1.11.0.min.js' | prepend: site.url }}'></script>
  <script type="text/javascript" src='{{ '/assets/scripts/jquery-migrate-1.2.1.min.js' | prepend: site.url }}'></script>
  <script type="text/javascript" src='{{ '/assets/slick/slick.min.js' | prepend: site.url }}'></script>
  <script type="text/javascript" src='{{ '/assets/scripts/main.js' | prepend: site.url }}'></script>
  {% if page.js_bundle %}
  <script type="text/javascript" src="/assets/scripts/{{ page.js_bundle }}.js" async></script>
  {% endif %}
</body>

</html>