---
name: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- page title -->
    <title>
      {% if page.title %}{{ page.title | escape }}{% else %}Studio Apartment{%
      endif %}
    </title>

    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="description"
      content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="design, graphic design, branding, brand identity, web design, website design, app design, design studio, web design studio, branding studio, design agency, web design agency, branding agency, brooklyn design, brooklyn designer, brooklyn web designer, brooklyn graphic designer, brooklyn design agency, brooklyn web design agency, brooklyn branding agency, brooklyn design studio, brooklyn web design studio, brooklyn branding studio, new york design, new york designer, new york web designer, new york graphic designer, new york design agency, new york web design agency, new york branding agency, new york design studio, new york web design studio, new york branding studio, nyc design, nyc designer, nyc web designer, nyc graphic designer, nyc design agency, nyc web design agency, nyc branding agency, nyc design studio, nyc web design studio, nyc branding studio"
    />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="en" />
    <meta name="googlebot" content="index, follow" />
    <meta name="revisit-after" content="20 days" />

    <!-- open graph  -->
    <meta
      property="og:title"
      content="Studio Apartment – Brand Identity & Web Design"
    />
    <meta
      property="og:description"
      content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}"
    />
    <meta
      property="og:image"
      content="{{ site.url }}/assets/images/metaimage.jpg"
    />
    <meta property="og:url" content="{{ site.url }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:site_name" content="Studio Apartment" />

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ site.url }}/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ site.url }}/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ site.url }}/favicon-16x16.png"
    />
    <link rel="manifest" href="{{ site.url }}/site.webmanifest" />
    <link
      rel="mask-icon"
      href="{{ site.url }}/safari-pinned-tab.svg"
      color="#231f20"
    />
    <meta name="msapplication-TileColor" content="#231f20" />
    <meta name="theme-color" content="#ffffff" />

    <!-- stylesheets -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.url }}/assets/css/normalize.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.url }}/assets/css/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ site.url }}/assets/slick/slick.css"
    />

    <!-- Roboto just for the gmail mocks on contact page -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body ontouchstart>
    <main>{{ content }}</main>
    <script
      type="text/javascript"
      src="{{ site.url }}/assets/scripts/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/assets/scripts/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/assets/slick/slick.min.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ site.url }}/assets/scripts/main.js"
    ></script>
    {% if page.js_bundle %}
    <script
      type="text/javascript"
      src="{{ site.url }}/assets/scripts/{{ page.js_bundle }}.js"
      async
    ></script>
    {% endif %}
  </body>
</html>
