---
layout: default
name: home
---

<div id="loading"></div>

<script src='{{ site.url }}/assets/scripts/spin.min.js'></script>
<script>
  var opts = {
    lines: 7 // The number of lines to draw
    , length: 0 // The length of each line
    , width: 8 // The line thickness
    , radius: 25 // The radius of the inner circle
    , scale: 0.5 // Scales overall size of the spinner
    , corners: 1 // Corner roundness (0..1)
    , color: '#4d4545' // #rgb or #rrggbb or array of colors
    , opacity: 0.1 // Opacity of the lines
    , rotate: 21 // The rotation offset
    , direction: 1 // 1: clockwise, -1: counterclockwise
    , speed: 0.6 // Rounds per second
    , trail: 56 // Afterglow percentage
    , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
    , zIndex: 2e9 // The z-index (defaults to 2000000000)
    , className: 'spinner' // The CSS class to assign to the spinner
    , top: '50%' // Top position relative to parent
    , left: '50%' // Left position relative to parent
    , shadow: false // Whether to render a shadow
    , hwaccel: false // Whether to use hardware acceleration
    , position: 'absolute' // Element positioning
  }
  var target = document.getElementById('loading')
  var spinner = new Spinner(opts).spin(target);
</script>


<div class="home-wrap">
  {% include header.html %}

  <div class="page-content">
    <!-- Use a template tag and data-* attributes and add projects to the grid with JS -->
    <template id="template-grid">
      {% if site.projects %}
        {% for project in site.projects %}
          {% if project.title != 'about' %}
            <div class="grid__item" data-categories="{{ project.categories | join: " " }}">
              <a href='{{ project.url | prepend: site.url }}'>
                <div>
                  <h4 class="mono-header" {% if project.dark_title %} style="color: rgb(77, 69, 69)" {% endif %}>{{ project.title | escape }}</h4>
                  {% if project.featured_image %}
                  <img src='{{ project.featured_image | prepend: site.url }}' {% if project.style %}
                    style='{{ project.style }}' {% endif %} />
                  {% else %}
                  <img src='{{ site.url }}/assets/images/posts/default.png' />
                  {% endif %}
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </template>

    <!-- Initially with .all -->
    <div class="grid all"></div>

    <div class="quote-wrap">
      {% if site.quotes %}
      {% for quote in site.quotes %}
      <span>
        <a class="desktop quote quote__quote" {% if quote.href %} href='{{quote.href}}' target="_blank" {% else %}
          href="#" {% endif %}>{{quote.quote}}</a>
      </span>
      <h4 class="desktop quote quote__source">{{quote.source}}</h4>
      {% endfor %}
      {% endif %}
    </div>

    {% include footer.html %}
  </div>