.grid.all {
  $colCount: 12;
  $rowCount: 33;
  
  @include min800 {
    height: 95.76vw * $rowCount / $colCount;
    grid-template-columns: repeat($colCount, 1fr);
    grid-template-rows: repeat($rowCount, 1fr);
  }


  .grid__item {
    @include min800 {
      &:nth-child(1) {
        grid-column-start: $colCount - 6;
        grid-column-end: $colCount - 9; 
        grid-row-start: $rowCount - 28;
        grid-row-end: $rowCount - 31;
      }

      &:nth-child(2) {
        grid-column-start: $colCount - 2;
        grid-column-end: $colCount - 6; 
        grid-row-start: $rowCount - 28;
        grid-row-end: $rowCount - 32;
      }

      &:nth-child(3) {
        grid-column-start: $colCount + 1;
        grid-column-end: $colCount - 2; 
        grid-row-start: $rowCount - 28;
        grid-row-end: $rowCount - 31;
      }

      &:nth-child(4) {
        grid-column-start: $colCount + 2 - 8;
        grid-column-end: $colCount + 2 - 12; 
        grid-row-start: $rowCount + 2 - 27;
        grid-row-end: $rowCount + 2 - 30;
      }

      &:nth-child(5) {
        grid-column-start: $colCount + 2 - 5;
        grid-column-end: $colCount + 2 - 8; 
        grid-row-start: $rowCount + 2 - 28;
        grid-row-end: $rowCount + 2 - 30;
      }

      &:nth-child(6) {
        grid-column-start: $colCount + 2 - 2;
        grid-column-end: $colCount + 2 - 5; 
        grid-row-start: $rowCount + 2 - 27;
        grid-row-end: $rowCount + 2 - 30;
      }

      &:nth-child(7) {
        grid-column-start: $colCount + 2 - 9;
        grid-column-end: $colCount + 2 - 11; 
        grid-row-start: $rowCount + 2 - 25;
        grid-row-end: $rowCount + 2 - 27;
      }

      &:nth-child(8) {
        grid-column-start: $colCount + 2 - 9;
        grid-column-end: $colCount + 2 - 13; 
        grid-row-start: $rowCount + 2 - 22;
        grid-row-end: $rowCount + 2 - 25;
      }

      &:nth-child(9) {
        grid-column-start: $colCount + 2 - 4;
        grid-column-end: $colCount + 2 - 9; 
        grid-row-start: $rowCount + 2 - 22;
        grid-row-end: $rowCount + 2 - 27;
      }

      &:nth-child(10) {
        grid-column-start: $colCount + 2 - 1;
        grid-column-end: $colCount + 2 - 4; 
        grid-row-start: $rowCount + 2 - 24;
        grid-row-end: $rowCount + 2 - 27;
      }

      &:nth-child(11) {
        grid-column-start: $colCount + 2 - 7;
        grid-column-end: $colCount + 2 - 12; 
        grid-row-start: $rowCount + 2 - 19;
        grid-row-end: $rowCount + 2 - 22;
      }

      &:nth-child(12) {
        grid-column-start: $colCount + 2 - 4;
        grid-column-end: $colCount + 2 - 7; 
        grid-row-start: $rowCount + 2 - 19;
        grid-row-end: $rowCount + 2 - 22;
      }

      &:nth-child(13) {
        grid-column-start: $colCount + 2 - 2;
        grid-column-end: $colCount + 2 - 4; 
        grid-row-start: $rowCount + 2 - 20;
        grid-row-end: $rowCount + 2 - 22;
      }

      &:nth-child(14) {
        grid-column-start: $colCount + 2 - 10;
        grid-column-end: $colCount + 2 - 13; 
        grid-row-start: $rowCount + 2 - 16;
        grid-row-end: $rowCount + 2 - 19;
      }

      &:nth-child(15) {
        grid-column-start: $colCount + 2 - 5;
        grid-column-end: $colCount + 2 - 10; 
        grid-row-start: $rowCount + 2 - 14;
        grid-row-end: $rowCount + 2 - 19;
      }

      &:nth-child(16) {
        grid-column-start: $colCount + 2 - 1;
        grid-column-end: $colCount + 2 - 5; 
        grid-row-start: $rowCount + 2 - 16;
        grid-row-end: $rowCount + 2 - 19;
      }

      &:nth-child(17) {
        grid-column-start: $colCount + 2 - 5;
        grid-column-end: $colCount + 2 - 8; 
        grid-row-start: $rowCount + 2 - 12;
        grid-row-end: $rowCount + 2 - 14;
      }

      &:nth-child(18) {
        grid-column-start: $colCount + 2 - 2;
        grid-column-end: $colCount + 2 - 5; 
        grid-row-start: $rowCount + 2 - 12;
        grid-row-end: $rowCount + 2 - 14;
      }

      &:nth-child(19) {
        grid-column-start: $colCount + 2 - 8;
        grid-column-end: $colCount + 2 - 12; 
        grid-row-start: $rowCount + 2 - 10;
        grid-row-end: $rowCount + 2 - 14;
      }

      &:nth-child(20) {
        grid-column-start: $colCount + 2 - 6;
        grid-column-end: $colCount + 2 - 8; 
        grid-row-start: $rowCount + 2 - 10;
        grid-row-end: $rowCount + 2 - 12;
      }

      &:nth-child(21) {
        grid-column-start: $colCount + 2 - 11;
        grid-column-end: $colCount + 2 - 13; 
        grid-row-start: $rowCount + 2 - 8;
        grid-row-end: $rowCount + 2 - 10;
      }

      &:nth-child(22) {
        grid-column-start: $colCount + 2 - 7;
        grid-column-end: $colCount + 2 - 11; 
        grid-row-start: $rowCount + 2 - 7;
        grid-row-end: $rowCount + 2 - 10;
      }

      &:nth-child(23) {
        grid-column-start: $colCount + 2 - 7;
        grid-column-end: $colCount + 2 - 9; 
        grid-row-start: $rowCount + 2 - 5;
        grid-row-end: $rowCount + 2 - 7;
      }

      &:nth-child(24) {
        grid-column-start: $colCount + 2 - 2;
        grid-column-end: $colCount + 2 - 7; 
        grid-row-start: $rowCount + 2 - 5;
        grid-row-end: $rowCount + 2 - 10;
      }

      &:nth-child(25) {
        grid-column-start: $colCount + 2 - 8;
        grid-column-end: $colCount + 2 - 11; 
        grid-row-start: $rowCount + 2 - 3;
        grid-row-end: $rowCount + 2 - 5;
      }

      &:nth-child(26) {
        grid-column-start: $colCount + 2 - 4;
        grid-column-end: $colCount + 2 - 8; 
        grid-row-start: $rowCount + 2 - 1;
        grid-row-end: $rowCount + 2 - 5;
      }

      &:nth-child(27) {
        grid-column-start: $colCount + 2 - 20;
        grid-column-end: $colCount + 2 - 6;
        grid-row-start: $rowCount + 2 - 2;
        grid-row-end: $rowCount + 2 - 5;
      }
    }
  }
}