// There might be some type styles in style.scss that haven't been moved to here

// MONO

// TILES       12px 0.43px  14px
// HEADER      13px -0.5px   22px

body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 18px;
  line-height: 25px;
}

// Setting a max line width
p, h1, h2, h3, h4, h5, h6, footer {
  line-height: 22px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

h2:not(.p) {
  font-family: "GT-America-Standard-Bold", sans-serif;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 3px;
}

p, .p {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: -0.2px;
  line-height: 25px;
  margin-bottom: 3px;
}

.mono-header {
  font-family: "GT-America-Mono-Regular", sans-serif;
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 22px;
}

.mono-small {
  font-family: "GT-America-Mono-Regular", sans-serif;
  font-size: 11px;
  letter-spacing: -0.42px; 
  line-height: 18px;
}

.footnote {
  font-family: "GT-America-Mono-Regular", sans-serif;
  font-size: 9px;
  letter-spacing: -0.35;
  line-height: 16px;
}