$link-color: rgb(56, 52, 52);
$link-color-white: white;
$link-hover-color: black;
$real-post-nav-color: rgb(56, 52, 52);
$post-nav-color: rgb(77, 69, 69);
$text-highlight-color: rgb(247, 226, 127);

@font-face {
  font-family: "GT-America-Mono-Regular";
  src: url('../fonts/GT-America-Mono-Regular.woff2') format('woff2'),
       url('../fonts/GT-America-Mono-Regular.woff') format('woff');
}

@font-face {
  font-family: "GT-America-Standard-Bold";
  src: url('../fonts/GT-America-Standard-Bold.woff2') format('woff2'),
       url('../fonts/GT-America-Standard-Bold.woff') format('woff');
}

@mixin max479p9 {
  @media (max-width: 479.9px) {
    @content;
  }
}

@mixin min480 {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin min800 {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin min900 {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin inline-flex() {
  display: -webkit-inline-box;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

// defaults: flex-grow: 0; flex-shrink: 1; flex-basis: auto;
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

// defaults: flex-direction: row; flex-wrap: nowrap;
@mixin flex-flow($values) {
  -webkit-flex-flow: $values;
  flex-flow: $values;
}

@mixin align-items($values) {
  -webkit-align-items: $values;
  align-items: $values;
}

@mixin align-content($values) {
  -webkit-align-content: $values;
  align-content: $values;
}

@mixin align-self($values) {
  -webkit-align-self: $values;
  align-self: $values;
}

@mixin mini-grid-tile-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

@mixin mini-grid-tile-2 {
  grid-column: 3/6;
  grid-row: 1/2;
}

@mixin mini-grid-tile-3 {
  grid-column: 1/2;
  grid-row: 2/3;
}

@mixin mini-grid-tile-4 {
  grid-column: 2/4;
  grid-row: 2/3;
}

@mixin mini-grid-tile-5 {
  grid-column: 4/6;
  grid-row: 2/3;
}

@mixin mini-grid-tile-6 {
  grid-column: 1/3;
  grid-row: 3/4;
}

@mixin mini-grid-tile-7 {
  grid-column: 3/6;
  grid-row: 3/4;
}

@mixin mini-grid-tile-8 {
  grid-column: 1/2;
  grid-row: 4/5;
}

@mixin mini-grid-tile-9 {
  grid-column: 2/4;
  grid-row: 4/5;
}

@mixin mini-grid-tile-10 {
  grid-column: 4/6;
  grid-row: 4/5;
}

@mixin mini-grid-tile-11 {
  grid-column: 1/3;
  grid-row: 5/6;
}

@mixin mini-grid-tile-12 {
  grid-column: 3/6;
  grid-row: 5/6;
}

@mixin mini-grid-tile-13 {
  grid-column: 1/2;
  grid-row: 6/7;
}

@mixin mini-grid-tile-14 {
  grid-column: 2/4;
  grid-row: 6/7;
}

@mixin mini-grid-tile-15 {
  grid-column: 4/6;
  grid-row: 6/7;
}

@mixin mini-grid-tile-16 {
  grid-column: 1/3;
  grid-row: 7/8;
}

@mixin mini-grid-tile-17 {
  grid-column: 3/6;
  grid-row: 7/8;
}

@mixin mini-grid-tile-18 {
  grid-column: 1/2;
  grid-row: 8/9;
}

@mixin mini-grid-tile-19 {
  grid-column: 2/4;
  grid-row: 8/9;
}

@mixin mini-grid-tile-20 {
  grid-column: 4/6;
  grid-row: 8/9;
}

@mixin mini-grid-tile-21 {
  grid-column: 1/3;
  grid-row: 9/10;
}

@mixin mini-grid-tile-22 {
  grid-column: 3/6;
  grid-row: 9/10;
}

@mixin mini-grid-tile-23 {
  grid-column: 1/2;
  grid-row: 10/11;
}

@mixin mini-grid-tile-24 {
  grid-column: 2/4;
  grid-row: 10/11;
}

@mixin mini-grid-tile-25 {
  grid-column: 4/6;
  grid-row: 10/11;
}