---
---

@import "vars";
@import "typography";
@import "home-grid";
@import "home-grid--all";
@import "home-grid--branding";
@import "home-grid--digital";
@import "home-grid--print";
@import "about";
@import "contact";

body {
  background-color: #fcf5ea;
  color: $post-nav-color;
  text-align: center;
  *::selection {
    background: $text-highlight-color;
  }
  // *::-moz-selection {
  // 	background: $text-highlight-color;
  // }
}

button {
  cursor: pointer;
}

// Start layout
.page-content {
  margin-top: calc(38px + 56px); // adding mobile header height
  position: relative;

  @include min900 {
    margin-top: 38px;
  }
}

.container {
  padding: 0 20px;

  @include min900 {
    padding: 0 35px;
  }
}

.home-wrap {
  .site-header {
    background: #fcf5ea;

    @include min900 {
      background: rgba(0, 0, 0, 0);
    }
  }
}

.project-wrap {
  article.slick {
    padding-top: 56px;
  }
}
// End layout

#weather {
  & > span {
    vertical-align: middle;
  }
}

.weather__dot {
  border-radius: 100%;
  height: 12.5px;
  width: 12.5px;
  display: inline-block;
}

main {
  height: 100%;
}

a {
  color: $link-color;
  &:visited {
    color: $link-color;
  }
  &:hover {
    color: $link-hover-color;
  }
}

a.go-home {
  display: block;
  margin: 80px 0;
  text-decoration: none;
  svg {
    fill: $post-nav-color;
  }
}

a.go-home:hover {
  color: $post-nav-color;
  text-decoration: underline;
}

article {
  img {
    margin-bottom: -4px;
  }
}

.bold {
  font-family: "GT-America-Standard-Bold", sans-serif;
}

.error-404-wrap {
  height: 100%;
  img {
    max-width: 100%;
    margin-top: 80px;
  }
}

.error-404-wrap,
.site-footer {
  padding-bottom: 125px;
}

figcaption {
  font-family: "GT-America-Mono-Regular", sans-serif;
  margin-top: 1em;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: -0.42px;
  color: #231f20;
}

.contact-wrap {
  a {
    color: $post-nav-color;
  }

  img {
    max-width: 634px;
  }

  figcaption {
    color: #090909;
    font-size: 9px;
  }

  figure {
    margin-bottom: 60px;
  }

  .site-footer > a {
    display: none;
  }
}

figcaption a,
.site-footer a {
  color: $post-nav-color;
  &:visited {
    color: $post-nav-color;
  }
  &:hover,
  &:focus {
    color: black;
  }
}

.tooltip figcaption {
  color: #fff;
  margin-top: 0;
  a {
    color: #fff;
    @extend .bold;
    &:visited {
      color: #fff;
    }
    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

h4 {
  color: white;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.005em;
}

.site-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  white-space: nowrap;
  z-index: 1;
  text-align: left;
  position: fixed;

  @include min480 {
    margin: 0;
  }

  @include min900 {
    margin: 38px 40px 0;
    height: 0;
  }

  & > * {
    border-bottom: 1px solid rgba(77, 69, 69, 0.15);

    @include min900 {
      border-bottom: none;
    }
  }

  h4,
  p {
    color: $post-nav-color;
    margin: 0;
    max-width: none;
    font-weight: normal;
  }

  p {
    padding: 0;
  }

  .subtitle {
    font-weight: normal;
  }

  .logo {
    margin-top: 6px;
    height: 34px;
    width: 34px;
  }
}

.site-header__id {
  display: none;
  font-family: "GT-America-Mono-Regular", sans-serif;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.5px;
  margin-left: 3px;
  position: absolute;

  @include min900 {
    display: block;
  }

  a {
    display: inline-block;
    margin-bottom: 12px;
  }
}

.header-dropdown {
  @extend .bold;
  font-size: 18px;
  position: relative;
  margin: 0 auto;
  grid-row: 2/3;
  grid-column: 1/4;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  box-sizing: border-box;

  @include min900 {
    grid-column: 2/3;
    grid-row: 1/3;
    height: auto;
    padding: 7px 16px;
  }

  svg {
    vertical-align: middle;
    padding-left: 5px;
  }

  ul {
    display: none;
    // background-color: #fcf5ea;
    margin: -11px 0 0;
    box-sizing: border-box;
    padding: 0 21px 10px;
    list-style-type: none;
    z-index: 0;
    width: 100%;

    @include min900 {
      width: auto;
      margin-top: -34px;
      padding-top: 34px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      background-color: #f2fcea;
    }

    li {
      background-color: transparent;
      color: rgba(77, 69, 69, 0.5);
      line-height: 25px;

      &:hover,
      &:focus {
        color: $post-nav-color;
      }
    }
  }
}

.header-dropdown__inner {
  display: inline-block;
  width: 100%;
  cursor: pointer;

  @include min900 {
    width: auto;
    // position: fixed;
    // left: 50%;
    // transform: translateX(-50%);
  }

  &:hover,
  &:focus {
    ul {
      width: 100%;
      display: inline-block;
    }

    svg {
      transform: scaleY(-1) translateY(1px);
    }
  }
}

.header-dropdown-val {
  display: block;
  position: relative;
  vertical-align: middle;
  z-index: 1;
  padding: 12px 21px;
  white-space: normal;

  @include min900 {
    line-height: 30px;
    white-space: nowrap;
    padding: 0 21px;
  }
}

.header-nav-wrap {
  grid-row: 1/2;
  grid-column: 1/4;
  height: 55px;

  @include min900 {
    margin-left: auto;
    grid-column: 3/4;
    grid-row: 1/3;
    height: auto;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.5px;
    font-family: "GT-America-Mono-Regular";
    height: 100%;

    @include min900 {
      display: block;
    }
  }

  a {
    color: rgba(35, 31, 32, .5);
    text-decoration: none;
    display: inline-block;

    &:hover,
    &:focus {
      color: rgba(35, 31, 32, 1);
    }
  }

  li {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    border-right: 1px solid rgba(77, 69, 69, 0.15);
    margin-top: 6px;
    margin-bottom: 7px;
    text-align: center;

    &:last-child {
      border-right: none;
    }

    @include min900 {
      border-right: none;
      height: auto;
      width: auto;
      margin: 0 8px;
      padding: 0;
    }
  }
}

// Current page link color
.about-wrap .header-nav-wrap a.about-link {
  color: rgba(35, 31, 32, 1);
  border-bottom: 1px solid rgba(35, 31, 32, 1);;
}

.home-wrap .header-nav-wrap a.home-link {
  color: rgba(35, 31, 32, 1);
  border-bottom: 1px solid rgba(35, 31, 32, 1);;
}

.contact-wrap .header-nav-wrap a.contact-link {
  color: rgba(35, 31, 32, 1);
  border-bottom: 1px solid rgba(35, 31, 32, 1);;
}

.quote-wrap {
  color: rgb(60, 53, 53);
  white-space: normal;
  padding-top: 6px;

  .quote {
    display: none;
  }

  .quote__source {
    color: $post-nav-color;
    font-weight: normal;
    margin-top: 6px;
    opacity: 0;
  }

  span {
    @extend .bold;
    white-space: nowrap;
  }

  .quote__quote {
    color: $post-nav-color;
    text-decoration: none;
    white-space: normal;
    font-size: 18px;
  }

  &:hover {
    .quote__source.chosen {
      cursor: default;
      opacity: 1;
    }
  }

  @media (max-width: 900px) {
    padding: 6px 12% 0;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

article p,
.error-404-wrap p {
  margin: 0 auto;
  padding: 130px 0 0;
}

div.slide__content p:last-child {
  padding-bottom: 130px;
}
.emoji {
  width: 1.2rem;
}
figure {
  margin: 0;
}

.icon {
  margin: 0 4px;
  svg {
    vertical-align: middle;
  }
}
.icon.mail {
  &:hover path {
    fill: #a29d9d;
  }
}
.icon.dribbble {
  &:hover path {
    fill: #ea4c89;
  }
}
.icon.twitter {
  &:hover path {
    fill: #1da1f2;
  }
}
.icon.instagram {
  &:hover path {
    fill: #ef4859;
  }
}

#loading {
  background-color: #fcf5ea;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000000;
}

.post-nav {
  background-color: $post-nav-color;
  display: flex;
  height: 50px;
  padding: 3px 0;
  position: fixed;
  width: 100%;
  white-space: nowrap;
  z-index: 1500;

  a,
  h4 {
    line-height: 50px;
    text-decoration: none;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .prev,
  .next {
    border-left: 1px solid rgb(103, 96, 96);
    flex: 0 0 50px;

    svg {
      height: 9.8px;
      width: 9.8px;
    }
  }

  .page-title {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 70px;
    flex: 1 1 0px;

    @media all and (max-width: 479.9px) {
      padding-right: 0px;
      margin: 0 9px;
      text-align: left;
    }
  }
}

.post-nav__home {
  box-sizing: border-box;
  padding: 0 21px;

  & > * {
    display: inline-block;
  }

  h4 {
    margin-left: 6.7px;
    visibility: hidden;
  }

  &:hover h4 {
    visibility: visible;
  }

  svg {
    height: 20.4px;
    position: relative;
    top: 3px;
    width: 19px;
  }

  @media all and (max-width: 479.9px) {
    flex-basis: 50px;
  }
}

.slide {
  &:focus {
    outline: none;
  }

  @media all and (max-width: 479.9px) {
    article {
      background-color: black;
    }
  }
}

.tooltip-text {
  li {
    @extend .mono-header;
  }

  h4 {
    font-weight: bold;
  }
}

.image-grid {
  display: grid;
  gap: 6px;

  & > div {
    overflow: hidden;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  @media (min-width: 800px) {
    margin: 0 auto;
    width: calc(100% - 230px);
  }
}

.image-grid--mobile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media all and (max-width: 479.9px) {
  .home-wrap,
  .error-404-wrap {
    padding: 0 10px 20px;
  }
  .desktop {
    display: none !important;
  }

  article p {
    font-size: 18px;
    line-height: 25px;
    margin: 0 auto;
    padding: 0.7rem 20px;
  }
  div.slide__content p:last-child {
    padding-bottom: 0px;
  }

  .full-height--centered-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    height: auto;
  }
  .full-height--centered-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: auto;
    height: 100%;
  }
  .full-height__container {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  html {
    height: 100%;
  }

  .slick-dots {
    bottom: 15px;
    margin: 0 auto;
    //padding: 25px 0;
    opacity: 0.5;
    padding: 12.5px 0;
    position: absolute;
    text-align: center;
    line-height: 5px;
    list-style: none;
    width: 100%;
    li {
      cursor: pointer;
      display: inline-block;
      margin-left: 10px;
      button {
        background: transparent;
        border: 2px solid white;
        border-radius: 20px;
        height: 7px;
        outline: none;
        overflow: hidden;
        padding: 0;
        color: transparent;
        width: 7px;
        &:hover,
        &:focus {
          outline: none;
        }
      }
      &:first-of-type {
        margin-left: 0;
      }
    }
    .slick-active button {
      background-color: white;
    }
  }
  .slick-dots--dark {
    li button {
      border-color: $post-nav-color;
    }
    .slick-active button {
      background-color: $post-nav-color;
    }
  }
  .slide {
    background-color: black;
    color: white;
    font-size: 20px;
    line-height: 26px;
    height: 100%;
    width: 100%;

    &:focus {
      outline: none;
    }

    a,
    figcaption,
    figcaption a,
    figcaption a:visited {
      color: $link-color-white;
    }

    .slide__content {
      display: flex;
      @include align-items(center);
      @include flex-flow(column);
      justify-content: center;
      box-sizing: border-box;
      overflow: hidden;
      padding: 17.5px 11px 35px;
      position: relative;
      height: 100%;
      width: 100%;

      img {
        margin-bottom: 13px;
      }

      .bg,
      .bg-dark {
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 55px 20px;
        max-width: 100%;
        width: 100%;
        font-family: "GT-America-Mono-Regular", sans-serif;
        font-size: 13px;
        letter-spacing: -0.5px;
        line-height: 22px;
      }

      .bg {
        background: -webkit-linear-gradient(
          transparent,
          rgba(1, 0, 0, 0) 10%,
          rgba(2, 0, 0, 0.5)
        );
        background: linear-gradient(
          transparent,
          rgba(1, 0, 0, 0) 10%,
          rgba(2, 0, 0, 0.5)
        );
      }

      .bg-dark {
        color: $post-nav-color;
        opacity: 1;
        a,
        a:visited {
          color: $post-nav-color;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
  .tooltip {
    display: none;
  }
}

@media all and (min-width: 480px) {
  html {
    height: 100%;
    overflow: auto;
  }
  body {
    overflow: hidden;
    height: 100%;
  }
  .mobile {
    display: none;
  }

  .tooltip {
    box-shadow: 0px 0px 25px 0px rgba(77, 69, 69, 0.25);
    box-sizing: border-box;
    max-width: 600px;
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 9999999;

    img {
      margin-bottom: -9px;
      max-width: 600px;
    }
  }
  .tooltip-img,
  .tooltip-img-box--bottom,
  .tooltip-img-box--right {
    a {
      border-bottom: 1px solid white;
      color: white;
      text-decoration: none;
      &:visited {
        color: white;
      }
      &:hover {
        color: white;
      }
    }
  }
  .tooltip-img {
    figcaption {
      bottom: 1rem;
      color: white;
      position: absolute;
      width: 100%;
    }
  }
  .tooltip-img-box--bottom {
    color: white;
    text-align: left;
    figcaption {
      padding: 0.8rem;
    }
  }
  .tooltip-img-box--right {
    color: white;
    text-align: left;
    white-space: nowrap;
    img,
    figcaption {
      display: inline-block;
    }
    figcaption {
      box-sizing: border-box;
      max-width: 280px;
      padding: 1.6rem;
      height: 100%;
      white-space: normal;
      vertical-align: top;
    }
    img {
      @include align-self(center);
      max-width: 320px;
    }
  }
  .tooltip-text {
    background-color: rgb(242, 252, 234);
    padding: 1rem 1.5rem 1rem 1rem;
    text-align: left;

    * {
      color: $post-nav-color;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;
    }
  }

  //*** POST PAGE ***//
  article {
    img {
      margin: 0 auto -4px auto;
      width: 100%;
    }
    .column > div,
    .row > div:not(.column) {
      padding: 3px;
    }
    .column img,
    .row img {
      border: none;
    }
    .column img {
      margin-bottom: -3px;
    }
    .column {
      height: 100%;
      display: flex;
      @include flex(column);
      div {
        height: 0;
        //overflow: hidden;
      }
    }
    .full-width {
      border-bottom: none;
      border-top: none;
      width: 100%;
    }
    .row {
      margin: 0 auto;
      white-space: nowrap;
      width: 100%;
      img {
        width: auto;
      }
    }
    .row > div {
      display: inline-block;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media all and (min-width: 800px) {
  article {
    img,
    video,
    .row {
      width: calc(100% - 230px);
    }
  }
}

// Components

.list-dash-style {
  list-style-type: none;
  padding: 0;
}

.list-dash-style li:before {
  content: "\2013\0020";
}

.site-footer__social-icons {
  margin-bottom: 17.5px;
}

// Utility

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.font-weight-normal {
  font-weight: normal;
}

.justify-center {
  justify-content: center;
}

.text-left {
  text-align: left;
}

.underline {
  text-decoration: underline;
}
