.grid.digital {
  $colCount: 12;
  $rowCount: 14;

  @include min800 {
    height: 95.76vw * $rowCount / $colCount;
    grid-template-columns: repeat($colCount, 1fr);
    grid-template-rows: repeat($rowCount, 1fr);
  }

  .grid__item {
    @media all and (min-width: 480px) and (max-width: 799.9px) {
      // Wil
      &:nth-child(1) { display: none; }
      // Peak
      &:nth-child(2) { @include mini-grid-tile-1; }
      // MM
      &:nth-child(3) { display: none; }
      // Lakeside
      &:nth-child(4) { display: none; }
      // DoneDone
      &:nth-child(5) { @include mini-grid-tile-2; }
      // EC1
      &:nth-child(6) { display: none; }
      // WAM
      &:nth-child(7) { @include mini-grid-tile-3; }
      // Kin
      &:nth-child(8) { @include mini-grid-tile-4; }
      // The Ro
      &:nth-child(9) { @include mini-grid-tile-5; }
      // Homeroom
      &:nth-child(10) { @include mini-grid-tile-6; }
      // Tennyson
      &:nth-child(11) { display: none; }
      // 826 2017
      &:nth-child(12) { display: none; }
      // 826 2014
      &:nth-child(13) { @include mini-grid-tile-7; }
      // Google
      &:nth-child(14) { display: none; }
      // 2015
      &:nth-child(15) { display: none; }
      // 2017
      &:nth-child(16) { @include mini-grid-tile-8; }
      // Saugatuck
      &:nth-child(17) { display: none; }
      // Bluebox
      &:nth-child(18) { display: none; }
      // Tazza
      &:nth-child(19) { display: none; }
      // OrderUp
      &:nth-child(20) { @include mini-grid-tile-9; }
      // Assorted
      &:nth-child(21) { display: none; }
      // Power2Switch
      &:nth-child(22) { display: none; }
      // Glassdoor
      &:nth-child(23) { display: none; }
      // Signac
      &:nth-child(24) { @include mini-grid-tile-10; }
    }

    @include min800 {
      // Signac
      &:nth-child(24) {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 11;
        grid-row-end: 14;
      }

      &:nth-child(23) {
        display: none;
      }

      &:nth-child(22) {
        display: none;
      }

      &:nth-child(21) {
        display: none;
      }
      // OrderUp
      &:nth-child(20) {
        grid-column-start: 6;
        grid-column-end: 8; 
        grid-row-start: 11;
        grid-row-end: 13;
      }

      &:nth-child(19) {
        display: none;
      }

      &:nth-child(18) {
        display: none;
      }

      &:nth-child(17) {
        display: none;
      }
      // 2017
      &:nth-child(16) {
        grid-column-start: 3;
        grid-column-end: 7; 
        grid-row-start: 7;
        grid-row-end: 11;
      }

      &:nth-child(15) {
        display: none;
      }

      &:nth-child(14) {
        display: none;
      }
      // 826 2014
      &:nth-child(13) {
        grid-column-start: 7;
        grid-column-end: 11; 
        grid-row-start: 7;
        grid-row-end: 10;
      }

      &:nth-child(12) {
        display: none;
      }

      &:nth-child(11) {
        display: none;
      }
      // Homeroom
      &:nth-child(10) {
        grid-column-start: 1;
        grid-column-end: 3; 
        grid-row-start: 7;
        grid-row-end: 9;
      }
      // The Ro
      &:nth-child(9) {
        grid-column-start: 6;
        grid-column-end: 9; 
        grid-row-start: 4;
        grid-row-end: 7;
      }
      // Kin
      &:nth-child(8) {
        grid-column-start: 1;
        grid-column-end: 6; 
        grid-row-start: 4;
        grid-row-end: 7;
      }
      // WAM
      &:nth-child(7) {
        grid-column-start: 9;
        grid-column-end: 12; 
        grid-row-start: 1;
        grid-row-end: 4;
      }

      &:nth-child(6) {
        display: none;
      }
      // DoneDone
      &:nth-child(5) {
        grid-column-start: 2;
        grid-column-end: 6; 
        grid-row-start: 1;
        grid-row-end: 4;
      }

      &:nth-child(4) {
        display: none;
      }

      &:nth-child(3) {
        display: none;
      }
      // Peak
      &:nth-child(2) {
        grid-column-start: 6;
        grid-column-end: 9; 
        grid-row-start: 2;
        grid-row-end: 4;
      }

      &:nth-child(1) {
        display: none;
      }
    }
  }
}