$font-stack: "GT-America-Standard-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: rgb(56, 52, 52);
$link-color-white: white;
$link-hover-color: rgb(0, 91, 242);
$real-post-nav-color: rgb(56, 52, 52);
$post-nav-color: rgb(77, 69, 69);
$text-highlight-color: rgb(247, 226, 127);

@font-face {
  font-family: "GT-America-Standard-Regular";
  src: url("../fonts/GT-America/GT-America-Standard-Regular.eot") format("eot"),
    url("../fonts/GT-America/GT-America-Standard-Regular.woff") format("woff"),
    url("../fonts/GT-America/GT-America-Standard-Regular.ttf") format("truetype");
  font-weight: normal;
}

@mixin max479p9 {
  @media (max-width: 479.9px) {
    @content;
  }
}

@mixin min480 {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin min800 {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin inline-flex() {
  display: -webkit-inline-box;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

// defaults: flex-grow: 0; flex-shrink: 1; flex-basis: auto;
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

// defaults: flex-direction: row; flex-wrap: nowrap;
@mixin flex-flow($values) {
  -webkit-flex-flow: $values;
  flex-flow: $values;
}

@mixin align-items($values) {
  -webkit-align-items: $values;
  align-items: $values;
}

@mixin align-content($values) {
  -webkit-align-content: $values;
  align-content: $values;
}

@mixin align-self($values) {
  -webkit-align-self: $values;
  align-self: $values;
}