@font-face {
  font-family: 'GT-America-Standard-Regular';
  src: url(../fonts/GT-America/GT-America-Standard-Regular.eot?) format("eot"), url(../fonts/GT-America/GT-America-Standard-Regular.woff) format("woff"), url(../fonts/GT-America/GT-America-Standard-Regular.ttf) format("truetype");
  font-weight: normal; }
body {
  background-color: white;
  color: #383434;
  font-family: "GT-America-Standard-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center; }
  body *::selection {
    background: #f7e27f; }
  body *::-moz-selection {
    background: #f7e27f; }

main {
  height: 100%; }

a {
  color: #005bf2; }
  a:visited {
    color: #005bf2; }
  a:hover {
    color: #5a1feb; }

a.go-home {
  display: block;
  margin: 80px 0; }

article {
  margin-top: 56px; }

.bold {
  font-weight: bold; }

.error-404-wrap {
  height: 100%; }
  .error-404-wrap img {
    max-width: 100%; }

.error-404-wrap,
.home-wrap {
  padding-bottom: 20px; }

footer h4 {
  color: #383434;
  font-weight: normal; }

article figcaption a,
footer a {
  color: black;
  font-weight: bold; }
  article figcaption a:visited,
  footer a:visited {
    color: black; }
  article figcaption a:hover,
  footer a:hover {
    color: #a29d9d; }

h4 {
  color: white;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.005em; }

h5 {
  color: #383434;
  font-size: 9px;
  line-height: 14px; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 76px 0 40px 0;
  white-space: nowrap; }
  header h4, header p {
    color: #383434;
    margin: 0;
    max-width: none; }
  header p {
    padding: 0; }
  header .subtitle {
    font-weight: normal; }
  header .id {
    text-align: left; }
  header .id {
    padding-top: 5px; }
    header .id h4 {
      padding-left: 48px; }
    header .id svg {
      float: left;
      margin-top: 6px; }

.quote-wrap {
  color: #3c3535;
  padding: 0 0 0 35px;
  text-align: right;
  white-space: normal; }
  .quote-wrap span {
    font-weight: bold;
    white-space: nowrap; }
    .quote-wrap span .quotation-mark {
      vertical-align: top; }
    .quote-wrap span .quote__quote {
      color: #383434;
      text-decoration: none;
      white-space: normal; }
  .quote-wrap:hover .quote__quote {
    border-bottom: 1.5px solid #383434; }
  .quote-wrap:hover .quote__source.chosen {
    cursor: default;
    opacity: 1; }

.quote__source {
  font-weight: normal;
  margin-top: 6px;
  opacity: 0; }

p {
  max-width: 28rem;
  margin: 0 auto;
  padding: .9em 0; }

.about p,
article p,
.hire-status p,
.error-404-wrap p {
  margin: 0 auto;
  padding: 5rem 0 0; }

.about p:last-child,
article p:last-child {
  padding-bottom: 5rem; }

.emoji {
  width: 1.2rem; }

figure {
  margin: 0; }

.grid {
  min-height: 23.5vw;
  position: relative; }

.grid__item h4 {
  font-weight: normal;
  margin: 11px 15px;
  position: absolute;
  text-align: left;
  text-decoration: none;
  z-index: 99999; }

.hire-status a {
  color: #383434;
  text-decoration: none;
  font-weight: normal; }
  .hire-status a:visited {
    color: #383434; }
  .hire-status a:hover {
    color: #383434;
    text-decoration: underline; }
.hire-status .dot, .hire-status h4 {
  display: inline-block; }
.hire-status .dot {
  background-color: #7ed321;
  border-radius: 10px;
  margin: 8px;
  height: 8px;
  width: 8px;
  vertical-align: middle; }

.icon {
  margin: 0 4px; }
  .icon svg {
    vertical-align: middle; }

.icon.mail:hover path {
  fill: #a29d9d; }

.icon.dribbble:hover path {
  fill: #EA4C89; }

.icon.twitter:hover path {
  fill: #1DA1F2; }

.icon.instagram:hover path {
  fill: #EF4859; }

.loading {
  background-color: black;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000000; }
  .loading img {
    position: absolute;
    top: 40%;
    left: calc(50% - 60px);
    z-index: 1000001; }

.post-nav {
  background-color: #4d4545;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 50px;
  padding: 3px 0;
  position: fixed;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 1500; }
  .post-nav * {
    display: inline-block; }
  .post-nav a {
    height: 50px;
    line-height: 50px;
    text-decoration: none; }
  .post-nav h4 {
    font-size: 13px;
    margin: 0; }
  .post-nav .page-title {
    line-height: 50px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .post-nav .prev, .post-nav .next {
    border-left: 1px solid #676060;
    min-width: 50px;
    width: 50px; }
    .post-nav .prev svg, .post-nav .next svg {
      height: 9.8px;
      width: 9.8px; }
  .post-nav .page-title {
    overflow: hidden;
    text-overflow: ellipsis; }
  .post-nav .post-nav__home {
    box-sizing: border-box;
    padding: 0 21px; }
    .post-nav .post-nav__home h4 {
      margin-left: 6.7px;
      visibility: hidden; }
    .post-nav .post-nav__home:hover h4 {
      visibility: visible; }
    .post-nav .post-nav__home svg {
      height: 20.4px;
      position: relative;
      top: 3px;
      width: 19px; }

@media all and (max-width: 479.9px) {
  .home-wrap,
  .error-404-wrap {
    padding: 0 10px 20px; }

  .desktop {
    display: none !important; }

  .about p {
    padding-top: 2.5rem; }
    .about p:last-child {
      padding-bottom: 2.5rem; }

  article {
    background-color: black; }

  article p {
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto;
    padding: .7rem 0; }

  .copyright {
    margin-bottom: 3.5rem; }
    .copyright .mobile {
      opacity: .25; }

  figcaption {
    font-size: 13px;
    line-height: 18px; }

  header svg {
    height: 34px;
    width: 34px; }

  html {
    height: 100%; }

  .id {
    margin: 0 auto; }

  .grid {
    margin-bottom: 81px; }

  .grid__item {
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%; }
    .grid__item img {
      display: block;
      width: 100%; }

  .post-nav .page-title {
    margin: 0 9px;
    text-align: left; }
  .post-nav .post-nav__home {
    width: 50px; }

  .slick-dots {
    bottom: 15px;
    margin: 0 auto;
    padding: 12.5px 0;
    position: absolute;
    text-align: center;
    line-height: 5px;
    list-style: none;
    width: 100%; }
    .slick-dots li {
      cursor: pointer;
      display: inline-block;
      margin-left: 10px; }
      .slick-dots li button {
        background: transparent;
        border: 2px solid white;
        border-radius: 20px;
        height: 7px;
        outline: none;
        overflow: hidden;
        padding: 0;
        color: transparent;
        width: 7px; }
        .slick-dots li button:hover, .slick-dots li button:focus {
          outline: none; }
      .slick-dots li:first-of-type {
        margin-left: 0; }
    .slick-dots .slick-active button {
      background-color: white; }

  .slide {
    background-color: black;
    color: white;
    font-size: 20px;
    line-height: 26px;
    height: 100%;
    width: 100%; }
    .slide:focus {
      outline: none; }
    .slide a,
    .slide figcaption a,
    .slide figcaption a:visited {
      color: #efefef; }
    .slide .slide__content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-flow: column;
      flex-flow: column;
      -webkit-justify-content: center;
      justify-content: center;
      box-sizing: border-box;
      overflow: hidden;
      padding: 17.5px 11px 35px;
      position: relative;
      height: 100%;
      width: 100%; }
      .slide .slide__content img {
        margin-bottom: 13px;
        max-width: 100%; }
      .slide .slide__content .full-height {
        height: calc(100vh - 54px);
        max-width: none;
        position: absolute;
        top: 0px; }
      .slide .slide__content .bg {
        background: -webkit-linear-gradient(transparent, rgba(2, 0, 0, 0.03) 10%, rgba(2, 0, 0, 0.5));
        background: linear-gradient(transparent, rgba(2, 0, 0, 0.03) 10%, rgba(2, 0, 0, 0.5));
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 55px 11px;
        width: 100%; }
      .slide .slide__content:focus {
        outline: none; }

  .tooltip, .quote-wrap {
    display: none; } }
@media all and (min-width: 480px) {
  html {
    height: 100%;
    overflow: auto; }

  body {
    overflow: hidden;
    height: 100%; }

  .mobile {
    display: none; }

  .about span {
    color: #005bf2;
    cursor: pointer;
    text-decoration: underline; }
    .about span:hover {
      color: #5a1feb; }

  figcaption {
    font-size: 14px;
    line-height: 22px; }

  .grid {
    min-height: 23.5vw;
    margin: 0 auto;
    width: 95.76vw; }
    .grid::after {
      content: " ";
      display: block;
      height: 0;
      clear: both; }

  .grid__item__wrap {
    box-sizing: border-box;
    float: left;
    padding: 3px; }

  .grid__item {
    position: relative;
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective-origin: 0% 150%;
    -webkit-perspective-origin: 0% 150%;
    -moz-perspective-origin: 0% 150%;
    height: 100%;
    width: 100%; }
    .grid__item a {
      position: relative;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      -moz-transform-origin: 50% 100%;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transition: box-shadow 600ms;
      -webkit-transition: box-shadow 600ms;
      perspective: 800px;
      perspective-origin: 0% 150%; }
      .grid__item a div {
        transition: transform 400ms;
        -webkit-transition: transform 400ms;
        overflow: hidden;
        height: 100%;
        width: 100%; }
        .grid__item a div:hover {
          transform: translateZ(15px);
          -webkit-transform: translateZ(15px);
          -ms-transform: translateZ(15px); }
          .grid__item a div:hover img {
            transform: scale(1.03);
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03); }
    .grid__item h4 {
      left: 0;
      top: 0; }
    .grid__item img {
      position: relative;
      display: block;
      flex: none;
      min-height: 100%;
      min-width: 101%;
      transition: all 250ms;
      -webkit-transition: all 250ms; }
    .grid__item:hover a {
      box-shadow: 8px -5px 25px 0px rgba(77, 69, 69, 0.05); }

  header {
    margin: 0 auto;
    width: calc(94vw - 6px); }
    header svg {
      height: 34px;
      width: 34px; }

  .quote {
    display: none; }

  .tooltip {
    box-shadow: 0px 0px 25px 0px rgba(77, 69, 69, 0.25);
    box-sizing: border-box;
    max-width: 600px;
    position: absolute;
    left: -9999px;
    z-index: 9999999; }
    .tooltip h4 {
      font-weight: normal; }
    .tooltip img {
      margin-bottom: -9px;
      max-width: 600px; }

  .tooltip-img a,
  .tooltip-img-box--bottom a,
  .tooltip-img-box--right a {
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none; }
    .tooltip-img a:visited,
    .tooltip-img-box--bottom a:visited,
    .tooltip-img-box--right a:visited {
      color: white; }
    .tooltip-img a:hover,
    .tooltip-img-box--bottom a:hover,
    .tooltip-img-box--right a:hover {
      color: white; }

  .tooltip-img figcaption {
    bottom: 1rem;
    color: white;
    position: absolute;
    width: 100%; }

  .tooltip-img-box--bottom {
    color: white;
    text-align: left; }
    .tooltip-img-box--bottom figcaption {
      padding: .8rem; }

  .tooltip-img-box--right {
    color: white;
    text-align: left;
    white-space: nowrap; }
    .tooltip-img-box--right img, .tooltip-img-box--right figcaption {
      display: inline-block; }
    .tooltip-img-box--right figcaption {
      box-sizing: border-box;
      max-width: 280px;
      padding: 1.6rem;
      height: 100%;
      white-space: normal;
      vertical-align: top; }
    .tooltip-img-box--right img {
      -webkit-align-self: center;
      align-self: center;
      max-width: 320px; }

  .tooltip-text {
    background-color: #f2fcea;
    padding: 1rem 1.5rem 1rem 1rem;
    text-align: left; }
    .tooltip-text * {
      color: #383434;
      margin: 0; }
    .tooltip-text ul {
      list-style: none;
      padding: 0; }

  article img {
    margin: 0 auto -4px auto;
    width: 100%; }
  article .column > div,
  article .row > div:not(.column) {
    padding: 3px; }
  article .column img,
  article .row img {
    border: none; }
  article .column img {
    margin-bottom: -3px; }
  article .column {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: column;
    -moz-box-flex: column;
    -webkit-flex: column;
    -ms-flex: column;
    flex: column; }
    article .column div {
      height: 0; }
  article .full-width {
    border-bottom: none;
    border-top: none;
    width: 100%; }
  article .row {
    margin: 0 auto;
    white-space: nowrap;
    width: 100%; }
    article .row img {
      width: auto; }
  article .row > div {
    display: inline-block; }
    article .row > div:first-child {
      padding-left: 0; }
    article .row > div:last-child {
      padding-right: 0; } }
@media all and (min-width: 480px) and (max-width: 699px) {
  .grid {
    width: 94vw; }
    .grid img {
      margin: 0 !important;
      height: auto !important; }
      .grid img:not(.stretchfix) {
        width: 100% !important; }
      .grid img.stretchfix {
        width: 140% !important; }

  .grid__item__wrap {
    position: relative; } }
@media all and (min-width: 700px) {
  article img, article .row {
    width: calc(100% - 230px); } }

/*# sourceMappingURL=style.css.map */
