@font-face {
  font-family: 'GT-America-Standard-Regular';
  src: url(../fonts/GT-America/GT-America-Standard-Regular.eot?) format("eot"), url(../fonts/GT-America/GT-America-Standard-Regular.woff) format("woff"), url(../fonts/GT-America/GT-America-Standard-Regular.ttf) format("truetype");
  font-weight: normal; }
body {
  font-family: "GT-America-Standard-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center; }

a {
  color: #1440e6; }
  a:hover {
    color: #5a1feb; }
  a:visited {
    color: #1440e6; }

article {
  margin-top: 56px; }

footer h4 {
  color: #4d4545;
  font-weight: normal; }
footer a, footer a:visited {
  color: #4d4545;
  font-weight: bold; }

h4 {
  color: white;
  font-size: 9px;
  line-height: 14px; }

h5 {
  color: #4d4545;
  font-size: 6px;
  line-height: 16px; }

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 46px;
  white-space: nowrap; }
  header h4, header p {
    color: #4d4545;
    margin: 0;
    max-width: none; }
  header .hire-status {
    white-space: nowrap; }
    header .hire-status * {
      display: inline-block; }
  header .hire-status h4, header .subtitle {
    font-weight: normal; }
  header .id, header .hire-status {
    text-align: left; }
  header .id h4 {
    padding-left: 22.7px; }
  header .id svg {
    float: left;
    margin-top: 6px; }

.quote-wrap {
  color: #3c3535;
  padding: 0 35px;
  white-space: normal; }
  .quote-wrap span {
    font-weight: bold;
    white-space: nowrap; }
    .quote-wrap span .quotation-mark {
      vertical-align: top; }
    .quote-wrap span .quote__quote {
      color: #4d4545;
      text-decoration: none;
      white-space: normal; }
  .quote-wrap:hover .quote__quote {
    border-bottom: 1.5px solid #4d4545; }
  .quote-wrap:hover .quote__source.chosen {
    cursor: default;
    opacity: 1; }

.quote__source {
  font-weight: normal;
  margin-top: 6px;
  opacity: 0; }

p {
  max-width: 20rem;
  margin: .9em auto; }

.about p,
article p,
.mobile.hire-status p {
  margin: 3.5rem auto; }

.emoji {
  width: 1rem; }

figure {
  margin: 0; }

.grid {
  min-height: 23.5vw; }

.grid__item h4 {
  margin: 11px 15px;
  position: absolute;
  text-align: left;
  text-decoration: none; }

.hire-status .dot, .hire-status p {
  display: inline-block; }
.hire-status .dot {
  background-color: #7ed321;
  border-radius: 10px;
  margin: 8px;
  height: 8px;
  width: 8px;
  vertical-align: middle; }

.icon {
  margin: 0 4px; }
  .icon svg {
    vertical-align: middle; }

.icon.mail:hover path {
  fill: #4D4545; }

.icon.dribbble:hover path {
  fill: #EA4C89; }

.icon.twitter:hover path {
  fill: #1DA1F2; }

.icon.instagram:hover path {
  fill: #EF4859; }

.post-nav {
  background-color: #4d4545;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 50px;
  padding: 3px 0;
  position: fixed;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 1500; }
  .post-nav * {
    display: inline-block; }
  .post-nav a {
    height: 50px;
    line-height: 50px;
    text-decoration: none; }
  .post-nav h4 {
    font-size: 13px;
    margin: 0; }
  .post-nav .page-title {
    line-height: 50px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .post-nav .prev, .post-nav .next {
    border-left: 1px solid #676060;
    min-width: 50px;
    width: 50px; }
    .post-nav .prev svg, .post-nav .next svg {
      height: 9.8px;
      width: 9.8px; }
  .post-nav .post-nav__home {
    box-sizing: border-box;
    padding: 0 21px; }
    .post-nav .post-nav__home h4 {
      margin-left: 6.7px; }
    .post-nav .post-nav__home svg {
      height: 20.4px;
      position: relative;
      top: 3px;
      width: 19px; }
  .post-nav .unclickable {
    cursor: default;
    pointer-events: none; }

@media all and (max-width: 500px) {
  .home-wrap {
    padding: 0 30px; }

  .desktop {
    display: none !important; }

  article p {
    margin: 0 auto;
    padding: .7rem 0; }

  .copyright {
    margin-bottom: 3.5rem; }
    .copyright .mobile {
      opacity: .25; }

  figcaption {
    font-size: 15px;
    line-height: 22px; }

  header svg {
    height: 24.1px;
    width: 25.1px; }

  html {
    height: 100vh; }

  .id {
    margin: 0 auto; }

  .grid {
    margin-bottom: 81px; }

  .grid__item {
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%; }
    .grid__item img {
      display: block;
      width: 100%; }

  .post-nav .page-title {
    margin-left: 9px;
    overflow: hidden;
    text-align: left; }
  .post-nav .post-nav__home {
    width: 50px; }

  .slick-dots {
    bottom: 25px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    text-align: center;
    list-style: none;
    width: 100%; }
    .slick-dots li {
      cursor: pointer;
      display: inline-block;
      margin-left: 10px; }
      .slick-dots li button {
        background: transparent;
        border: 2px solid white;
        border-radius: 20px;
        height: 9px;
        outline: none;
        overflow: hidden;
        padding: 0;
        color: transparent;
        width: 9px; }
        .slick-dots li button:hover, .slick-dots li button:focus {
          outline: none; }
      .slick-dots li:first-of-type {
        margin-left: 0; }
    .slick-dots .slick-active button {
      background-color: white; }

  .slide {
    background-color: black;
    color: white;
    font-size: 20px;
    line-height: 26px;
    height: 100%;
    width: 100%; }
    .slide .slide__content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-flow: column;
      flex-flow: column;
      -webkit-justify-content: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 35px 22px 70px;
      height: 100%;
      width: 100%; }
      .slide .slide__content img {
        margin-bottom: 13px;
        max-width: 100%; }

  .tooltip, .quote-wrap {
    display: none; } }
@media all and (min-width: 501px) {
  .mobile {
    display: none; }

  .about span {
    color: #1440e6;
    cursor: pointer;
    text-decoration: underline; }
    .about span:hover {
      color: #5a1feb; }

  figcaption {
    font-size: 9px;
    line-height: 14px; }

  .grid {
    margin: 4rem auto 9rem 3.28vw;
    min-height: 23.5vw;
    width: 85.5vw; }

  .grid__item__wrap {
    box-sizing: border-box;
    padding: 3px; }

  .grid__item {
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    width: 100%; }
    .grid__item img {
      min-height: 100%;
      min-width: 100%; }

  header {
    padding: 0 35px; }
    header svg {
      height: 14.1px;
      width: 14.7px; }

  .quote {
    display: none; }

  .tooltip {
    box-shadow: 0px 0px 25px 0px rgba(77, 69, 69, 0.25);
    box-sizing: border-box;
    position: absolute;
    left: -9999px; }
    .tooltip h4 {
      font-weight: normal; }

  .tooltip-img a, .tooltip-img a:visited, .tooltip-img-box a, .tooltip-img-box a:visited {
    border-bottom: 1px solid white;
    color: white;
    text-decoration: none; }

  .tooltip-img figcaption {
    bottom: 35px;
    color: white;
    position: absolute;
    width: 100%; }

  .tooltip-img-box {
    color: white;
    text-align: left; }
    .tooltip-img-box figcaption {
      padding: .8rem; }
    .tooltip-img-box img {
      margin-bottom: -6px; }

  .tooltip-text {
    background-color: #f2fcea;
    padding: 1rem 1.5rem 1rem 1rem;
    text-align: left; }
    .tooltip-text * {
      color: #4d4545;
      margin: 0; }
    .tooltip-text ul {
      list-style: none;
      padding: 0; }

  article img {
    border: 3px solid white;
    margin: 0 auto;
    width: calc(100% - 230px); }
  article .column {
    display: inline-block;
    height: 100%; }
    article .column img {
      display: block; }
  article .full-width {
    border-bottom: none;
    border-top: none;
    width: 100%; }
  article .row > * {
    height: 100%;
    white-space: nowrap; } }

/*# sourceMappingURL=style.css.map */
