---
layout: default
---
<div class='home-wrap'>
	<header>
		<div class='id'>
			{{ site.id.avatar }}
			<h4 class='desktop'><b>{{ site.id.title }}</b></h4>
			<h4 class='desktop subtitle'>{{ site.id.subtitle }}</h4>
		</div>
		<div class='quote-wrap'>
		{% if site.quotes %}
			{% for quote in site.quotes %}
				<span><a class='desktop quote quote__quote'
				{% if quote.href %}
					href='{{quote.href}}' target='_blank' 
				{% else %}
					href='#'
				{% endif %}
				>{{quote.quote}}</a></span>
				<h4 class='desktop quote quote__source'>&mdash; {{quote.source}}</h4>
			{% endfor %}			
		{% endif %}
		</div>
		
		{% if site.available != true %}
			{% assign visibility = "style='visibility:hidden'" %}
		{% endif %}
		<div class='desktop hire-status' {{visibility}}><div class='dot'></div><h4><a href='mailto:{{site.email}}' target='_blank'>Available for hire</a></h4></div>
	</header>
	{% capture about %}{% include about.md %}{% endcapture %}

	<div class='about mobile'>{{ about | markdownify }}</div>

	<div class='grid grid--effect-vega'>
	{% if site.posts %}
		{% for post in site.posts %}
			{% if post.stack_color %}
				{% assign bg_color = post.stack_color %}
			{% else %}
				{% assign bg_color = 'rgb(162, 157, 157)' %}
			{% endif %}
			{% if post.title != 'about' %}
		<div class='no-masonry grid__item'>
			<a href='{{ post.url | prepend: site.url }}' >
				<div class='stack'>
					<div class="stack__deco" style="background-color:{{ bg_color }}" ></div>
					<div class="stack__deco" style="background-color:{{ bg_color }}" ></div>
					<div class="stack__deco" style="background-color:{{ bg_color }}" ></div>
					<div class="stack__deco" style="background-color:{{ bg_color }}" ></div>
					<div class='stack__figure'>
						<h4
							{% if post.dark_title %}
								style='color: rgb(77, 69, 69)'
							{% endif %}
						>{{ post.title | escape }}</h4>				
						{% if post.featured_image %}
						<img class='stack__img' src='{{ post.featured_image | prepend: site.url }}'
							{% if post.style %}
								style='{{ post.style }}'
							{% endif %}
						/>
							{% else %}
						<img class='stack__img' src='{{ '/assets/images/posts/default.png' | prepend: site.url }}'/>
						{% endif %}
					</div>
				</div>
			</a>
		</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	</div>

	<div class='about desktop'>{{ about | markdownify }}</div>
	{% include footer.html %}
</div>