---
layout: page
js_bundle: about
---

<div class="about-wrap">

  {% include header.html %}

  <div style="margin: 38px auto;">
    <img style="width: 62%;" alt="work desk" src="{{ site.url }}/assets/images/office.jpg"/>
  </div>

  <section style="margin-bottom: 132px;">
    <h2>Studio Apartment is an independent design studio specializing in brand identity and interface design.</h2>
    <p>We help people say what they’re trying to say, better. We do this by combining user-centered functional design principles with the visual arts. Our global headquarters are located in New York City.*</p>
    <footer class="footnote">* In my apartment. (Oh hi, my name is Gage Salzano, the Founder and Creative Director of Studio Apartment.)</footer>
  </section>

  <section class="flex justify-center section-services">
    <article>
      <div class="section-services__img-wrap">
        <img alt="Handwritten notes" src="{{ site.url }}/assets/images/handwritten-notes.png"/>
      </div>
      <h2 class="p">Company Strategy</h2>
      <ul class="list-dash-style mono-header">
        <li>Brand Strategy & Positioning</li>
        <li>Naming</li>
        <li>Marketing & Storytelling</li>
      </ul>
    </article>
    <article>
      <div class="section-services__img-wrap">
        <img alt="Logo sketches" src="{{ site.url }}/assets/images/logo-sketches.png"/>
      </div>
      <h2 class="p">Brand Identity</h2>
      <ul class="list-dash-style mono-header">
        <li>Logo Design</li>
        <li>Brand Guidelines</li>
        <li>Print & Collateral</li>
        <li>Illustration</li>
        <li>Packaging</li>
        <li>Wayfinding</li>
      </ul>
    </article>
    <article>
      <div class="section-services__img-wrap">
        <img alt="Wireframe sketch" src="{{ site.url }}/assets/images/wireframe-sketch.png"/>
      </div>
      <h2 class="p">User Experience</h2>
      <ul class="list-dash-style mono-header">
        <li>Information Architecture</li>
        <li>Feature Conception</li>
        <li>Prototyping</li>
        <li>Website design</li>
      </ul>
    </article>
  </section>

  <section>
    <p>We have worked with startups to large organizations spanning all sorts of industries. Here’s a few you might recognize:</p>

    <div class="logo-grid">
      <div>
        <img class="logo-Google" alt="Google logo" src="{{ site.url }}/assets/images/logo-google.png"/>
      </div>
      <div>
        <img class="logo-826CHI" alt="826CHI logo" src="{{ site.url }}/assets/images/logo-826.png"/>
      </div>
      <div>
        <img class="logo-Gusto" alt="Gusto logo" src="{{ site.url }}/assets/images/logo-gusto.png"/>
      </div>
      <div>
        <img class="logo-Nestle" alt="Nestle logo" src="{{ site.url }}/assets/images/logo-nestle.png"/>
      </div>
      <div>
        <img class="logo-Uptake" alt="Uptake logo" src="{{ site.url }}/assets/images/logo-uptake.png"/>
      </div>
      <div>
        <img class="logo-JLL" alt="JLL logo" src="{{ site.url }}/assets/images/logo-jll.png"/>
      </div>
      <div>
        <img class="logo-CBRE" alt="CBRE logo" src="{{ site.url }}/assets/images/logo-cbre.png"/>
      </div>
      <div>
        <img class="logo-Glassdoor" alt="Glassdoor logo" src="{{ site.url }}/assets/images/logo-glassdoor.png"/>
      </div>
      <div>
        <img class="logo-Trunk" alt="Trunk Club logo" src="{{ site.url }}/assets/images/logo-trunk-club.png"/>
      </div>
      <div>
        <img class="logo-Heinz" alt="Heinz logo" src="{{ site.url }}/assets/images/logo-heinz.png"/>
      </div>
      <div>
        <img class="logo-Girl" alt="Girl & the Goat logo" src="{{ site.url }}/assets/images/logo-girlandgoat.png"/>
      </div>
      <div>
        <img class="logo-Youtube" alt="Youtube logo" src="{{ site.url }}/assets/images/logo-youtube.png"/>
      </div>
      <div>
        <img class="logo-Spear" alt="Spear Street Capital logo" src="{{ site.url }}/assets/images/logo-spearstreet.png"/>
      </div>
      <div>
        <img class="logo-Grove" alt="Grove City College logo" src="{{ site.url }}/assets/images/logo-grovecity.png"/>
      </div>
      <div>
        <img class="logo-Thought" alt="Thought Catalog logo" src="{{ site.url }}/assets/images/logo-thought-catalog.png"/>
      </div>
    </div>
  </section>

  <section class="section-approach">
    <h2>We use an approach that combines first-hand practicality with wide-eyed optimism to help our clients get shit done.</h2>
    <p>Every project calls for a unique approach, which is why we focus instead on applying the same foundational principles, regardless of time, budget or technology, to produce the most effective ideas we can.</p>
    <div class="section-approach__grid">
      <div>
        <img src="{{ site.url }}/assets/images/pottery-wheel.png"/>
        <h2>Thinking happens best while making</h2>
      </div>
      <div>
        <img src="{{ site.url }}/assets/images/stevejobs.png"/>
        <h2>Trust your gut<br/>(over data)</h2>
      </div>
      <div>
        <img src="{{ site.url }}/assets/images/giphy2.png"/>
        <h2>Always be roasting yourself</h2>
      </div>
      <div>
        <img src="{{ site.url }}/assets/images/79Yw2.png"/>
        <h2>Feedback is a new creative brief</h2>
      </div>
      <div>
        <img src="{{ site.url }}/assets/images/79Yw.png"/>
        <h2>Look at things with “fresh eyes”</h2>
      </div>
      <div>
        <img src="{{ site.url }}/assets/images/whittling.png"/>
        <h2>The best concepts are seasoned in layers</h2>
      </div>
    </div>
  </section>

  <section class="section-team">
    <img alt="Gage" src="{{ site.url }}/assets/images/gage.jpg"/>
    <h2>Our team currently consists of me, Gage Salzano, and my friends that I occasionally tap for their expertise.</h2>
    <p>I’ve worked with talented agencies and studios in Pittsburgh and Chicago throughout the past decade. I’ve been obsessed with this stuff since grade school, but didn’t realize there was a way I could reasonably make a living doing this until I went to college and I have been living out my wildest dreams every since.</p>
  </section>

</div>

{% include footer.html %}