---
layout: page
js_bundle: about
---

<div class="about-wrap">
  {% include header.html %}

  <div class="page-content" style="padding-top: 1px">
    <section style="margin-bottom: 74px; margin-top: 49px">
      <h2 style="margin-bottom: 4px">
        Studio Apartment is a design studio that helps people build brands, sell products, get sign-ups and generally say what they’re trying to say better.
      </h2>
      <p style="margin-bottom: 4px">
        We do this by combining functional design principles with a focus on visual aesthetics. Our global headquarters are located in New York City.*
      </p>
      <footer class="footnote">
        * In my apartment. (Oh hi, my name is Gage Salzano, the Founder and Creative Director of Studio Apartment.)
      </footer>
    </section>
    <div class="hero-img-wrap">
      <img alt="work desk" src="{{ site.url }}/assets/images/office.jpg" />
    </div>
    <h2 style="margin-top: 100px; margin-bottom: 65px;">We can help make your dreams come true, just need to chat through a few things and a Google doc and we can handle the rest.</h2>
    <section class="flex justify-center section-services">
      <article>
        <div class="section-services__img-wrap">
          <img
            alt="Handwritten notes"
            src="{{ site.url }}/assets/images/handwritten-notes.png"
          />
        </div>
        <h2 class="p">Company Strategy</h2>
        <ul class="list-dash-style mono-header">
          <li>Brand Strategy & Positioning</li>
          <li>Naming</li>
          <li>Marketing & Storytelling</li>
        </ul>
      </article>
      <article>
        <div class="section-services__img-wrap">
          <img
            alt="Logo sketches"
            src="{{ site.url }}/assets/images/logo-sketches.png"
          />
        </div>
        <h2 class="p">Brand Identity</h2>
        <ul class="list-dash-style mono-header">
          <li>Logo Design</li>
          <li>Icon Design</li>
          <li>Brand Guidelines</li>
        </ul>
      </article>
      <article>
        <div class="section-services__img-wrap">
          <img
            alt="Wireframe sketch"
            src="{{ site.url }}/assets/images/wireframe-sketch.png"
          />
        </div>
        <h2 class="p">User Experience</h2>
        <ul class="list-dash-style mono-header">
          <li>Illustration</li>
          <li>Print & Collateral</li>
          <li>Website design</li>
          <li>Packaging</li>
          <li>Wayfinding</li>
        </ul>
      </article>
    </section>

    <section>
      <h2>
        We have worked with startups to large organizations spanning all sorts
        of industries. Here’s a few you might recognize:
      </h2>

      <div class="logo-grid">
        <div>
          <img
            alt="Google logo"
            class="logo-Google"
            src="{{ site.url }}/assets/images/logo-google.svg"
          />
        </div>
        <div>
          <img
            alt="Square logo"
            class="logo-Square"
            src="{{ site.url }}/assets/images/logo-square.svg"
          />
        </div>
        <div>
          <img
            alt="Gusto logo"
            class="logo-Gusto"
            src="{{ site.url }}/assets/images/logo-gusto.svg"
          />
        </div>
        <div>
          <img
            alt="Nestle logo"
            class="logo-Nestle"
            src="{{ site.url }}/assets/images/logo-nestle.svg"
          />
        </div>
        <div>
          <img
            alt="JLL logo"
            class="logo-JLL"
            src="{{ site.url }}/assets/images/logo-jll.svg"
          />
        </div>
        <div>
          <img
            alt="Heinz logo"
            class="logo-Heinz"
            src="{{ site.url }}/assets/images/logo-heinz.svg"
          />
        </div>
        <div>
          <img
            alt="Glassdoor logo"
            class="logo-Glassdoor"
            src="{{ site.url }}/assets/images/logo-glassdoor.svg"
          />
        </div>
        <div>
          <img
            alt="Trunk Club logo"
            class="logo-Trunk"
            src="{{ site.url }}/assets/images/logo-trunk-club.svg"
          />
        </div>
        <div>
          <img
            alt="Girl & the Goat logo"
            class="logo-Girl"
            src="{{ site.url }}/assets/images/logo-girlandgoat.svg"
          />
        </div>
        <div>
          <img
            alt="Youtube logo"
            class="logo-Youtube"
            src="{{ site.url }}/assets/images/logo-youtube.svg"
          />
        </div>
        <div>
          <img
            alt="CBRE logo"
            class="logo-CBRE"
            src="{{ site.url }}/assets/images/logo-CBRE.svg"
          />
        </div>
        <div>
          <img
            alt="Navy Pier logo"
            class="logo-NavyPier"
            src="{{ site.url }}/assets/images/logo-navypier.png"
          />
        </div>
      </div>
    </section>

    <section>
      <h2 style="margin-bottom: 4px">We use an approach that combines first-hand practicality with wide-eyed optimism to help our clients get stuff done.</h2>
      <p>Every project calls for a unique approach, which is why we focus instead on applying the same foundational principles, regardless of time, budget or technology, to produce the most effective ideas we can.</p>
      <div class="section-approach__grid">
        <div>
          <img src="{{ site.url }}/assets/images/pottery-wheel.gif" />
          <h2>Thinking happens best while making</h2>
        </div>
        <div>
          <img src="{{ site.url }}/assets/images/stevejobs.gif" />
          <h2>Trust your gut<br />(over data)</h2>
        </div>
        <div>
          <img src="{{ site.url }}/assets/images/giphy2.gif" />
          <h2>Always be roasting yourself</h2>
        </div>
        <div>
          <img src="{{ site.url }}/assets/images/79Yw2.gif" />
          <h2>Feedback is a new creative brief</h2>
        </div>
        <div>
          <img src="{{ site.url }}/assets/images/79Yw.gif" />
          <h2>Look at things with “fresh eyes”</h2>
        </div>
        <div>
          <img src="{{ site.url }}/assets/images/whittling.gif" />
          <h2>The best concepts are seasoned in layers</h2>
        </div>
      </div>
    </section>
  </div>
  <p style="text-align: center; margin-top: 20px"><a href="/contact">Get in touch with us</a> to talk about your project.</p>
</div>

<img src="{{ site.url }}/assets/images/anybrowser.gif" />
<img src="{{ site.url }}/assets/images/harley.gif" />
<img src="{{ site.url }}/assets/images/underconstruction.gif" />
<img src="{{ site.url }}/assets/images/winamp.gif" />

{% include footer.html %}
