---
layout: page
js_bundle: contact
---

<div class="contact-wrap">
  {% include header.html %}
  <figure>
    <img src="assets/images/lakeside-10.png" alt="Brooklyn pizza" srcset="assets/images/lakeside-10.png 634w,
            assets/images/lakeside-10@2x.png 1268w,
            assets/images/lakeside-10@3x.png 1902w" />
    <figcaption>Happy Shapes International HQ in Brooklyn, NY baby.</figcaption>
  </figure>

  <p>To hire me to work on your next project:<br /><a href="mailto:me@gagesalzano.com" target="_top">Send me an
      email</a></p>
  <br />
  <p>For in-progress images and other nonsense:<br /><a href="https://www.instagram.com/gagesalzano/"
      target="_blank">Follow me on Instagram</a></p>
  <br />
  <p>For occasional design jokes and pointless observations:<br /><a href="https://twitter.com/gagesalzano"
      target="_blank">Follow me on Twitter</a></p>
  <br />
  <p>To send me insults:<br /><a href="/404">Get lost!</a></p>
  {% include footer.html %}
</div>